<div class="display-voter panel panel-primary xlvo-new-ui" id="xlvo-voter-header">
	<div class="panel-heading">
		<h1 class="panel-title pull-left">{TITLE}</h1>
		<h3 class="description">{DESCRIPTION}</h3>
	</div>
	<div class="panel-body"><div class="col-md-12">
		<!-- BEGIN spinner -->
		<div class="row" role="status" aria-live="polite"><img class="xlvo_loader" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting/templates/images/rings.svg" alt=""><span class="sr-only">Loading</span></div>
		<!-- END spinner -->
		<div class="xlvo-voter-glyph">{GLYPH}</div>
		<div class="xlvo-countdown-container" aria-live="polite" aria-atomic="true"><span id="xlvo_countdown" class="label label-cd-warning">0 sec</span></div>
		{QUESTION}
	</div></div>
</div>
