<div class="display-voter panel panel-primary xlvo-new-ui" id="xlvo-voter-header">
	<div class="panel-heading clearfix">
		<h1 class="panel-title pull-left">{TITLE}</h1>
		<h2 class="panel-title pull-right"><span id="xlvo_countdown" class="label label-cd-warning">0 sec</span></h2>&nbsp;
		<h2 class="panel-title pull-right"><span id="xlvo_qtype" class="label" style="background: black">{QTYPE}</span></h2>&nbsp;
		<h2 class="description">{DESCRIPTION}</h2>
	</div>
	<div class="panel-body"><div class="col-md-12">
		<!-- BEGIN spinner -->
		<div class="row"><img class="xlvo_loader" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting/templates/images/rings.svg"></div>
		<!-- END spinner -->
		<div class="xlvo-voter-glyph">{GLYPH}</div>
		<!-- BEGIN question_text -->
		<div class="row"><div class="well" aria-live="polite">{QUESTION_TEXT}</div></div>
		<!-- END question_text -->
		<div class="row">{QUESTION}</div>
	</div></div>
</div>
