<div class="xlvo-bar-row-wrap">
	<div class="xlvo-bar-label-row">
		<div class="xlvo-option-name">
			<span class="xlvo-color-dot"></span>
			<!-- BEGIN option_letter -->
			<span class="xlvo-option-letter">{OPTION_LETTER}</span>
			<!-- END option_letter -->
			<span>{TITLE}</span>
		</div>
		<div class="xlvo-vote-counts" id="xlvo_bar_text_{ID}" aria-hidden="true">{PERCENT_TEXT}</div>
	</div>
	<div class="xlvo-bar-container">
		<div class="xlvo-bar-fill" id="xlvo_bar_{ID}" role="progressbar" aria-valuenow="{PERCENT}" aria-valuemin="0" aria-valuemax="{MAX}" style="width: {PERCENT_STYLE}%;"></div>
	</div>
</div>
