.multiple-input{
    display:flex;
    width: 100%;
    margin-bottom:10px;

}

.multiple-input .action-buttons, .order-input-container .action-buttons{
    display:flex;
    gap:5px;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.order-input-container .action-buttons{
    padding-bottom:5px;
    align-items: end;

}

.order-input-container .action-buttons button{
    height: 26px;
}

.order-input-container{
    margin-bottom:10px;
    display: flex;
    width: 100%;
}

.order-input-container .inputs{
    width: 100%;
}

.order-input-container .term-input{
    height: 100%;
    justify-content: flex-end;
    width: 100%;
}

.d-flex{
    display: flex;
}

.shrink-0{
    flex-shrink: 0;

}

.flex-col{
    flex-direction:column;
}

.gap-1{
    gap:.5rem;
}

.w-full{
    width:100%;
}